@import url(../../App.scss);

.mainpage {
	height: auto;
	color: rgb(47, 17, 17);

	&__div {
		border-top: 2px solid rgb(47, 17, 17);
		border-bottom: 2px solid rgb(47, 17, 17);
		width: 80%;
		// height: 20px;
		margin: 100px auto;
		padding: 0px;
	}
	&__date {
		text-align: center;
		font-family: NanumBold;
		// padding-top: 50px;
		margin: 20px auto;
		font-size: 30px;
	}

	&__quote {
		text-align: center;
		// width: 1000px;
		// margin: auto;
		font-family: NanumExtraBold;
		font-size: 35px;
	}

	&__author {
		text-align: center;
		font-size: 30px;
		margin: 0px;
		font-family: NanumBold;
	}
	&__like-button {
		// height: 50px;
		// width: 100px;
		font-family: NanumExtraBold;
		font-size: 25px;
		margin: 40px 530px;
		// margin-left: 675px;
		// margin-bottom: 20px;
		background-color: rgb(208, 198, 185);
		box-shadow: 5px 5px 5px rgb(97, 92, 92);
		border: 2px solid rgb(47, 17, 17);
		padding: 10px 20px 10px 20px;
		border-radius: 10px;
	}

	// &__card {
	// 	display: flex;
	// 	justify-content: space-evenly;
	// }

	// &__button {
	// 	margin-left: 600px;
	// 	height: 50px;
	// 	width: 200px;
	// }

	&__first {
		font-family: NanumBold;
		// border: 2px solid rgb(47, 17, 17);
		padding: 20px;
		border-radius: 20px;
		box-shadow: 5px 5px 5px rgb(97, 92, 92);
		width: 700px;
		margin: 100px auto;
		text-align: center;
		background-color: rgb(208, 198, 185);
		// perspective: 600px;
	}

	&__second {
		font-family: NanumBold;
		padding: 20px;
		// border: 2px solid rgb(47, 17, 17);
		border-radius: 20px;
		box-shadow: 5px 5px 5px rgb(97, 92, 92);
		// border: 3px black solid;
		width: 700px;
		margin: 100px auto;
		text-align: center;
		background-color: rgb(208, 198, 185);
		// perspective: 600px;
	}

	&__questions {
		font-size: 25px;
	}

	&__save-button {
		// height: 50px;
		// width: 100px;
		font-family: NanumExtraBold;
		font-size: 25px;
		display: block;
		margin: 30px auto;
		// margin: 20px 530px;
		// margin-left: 675px;
		// margin-bottom: 20px;
		background-color: rgb(208, 198, 185);
		box-shadow: 5px 5px 5px rgb(97, 92, 92);
		border: 2px solid rgb(47, 17, 17);
		padding: 10px 20px 10px 20px;
		border-radius: 10px;
	}

	&__review {
		font-size: 40px;
		// border-bottom: 2px solid black;
	}

	&__input {
		border: none;
		border-bottom: 2px solid black;
		// background-color: rgb(231, 221, 211);
		background-color: rgb(208, 198, 185);
		width: 90%;
		height: 40px;
		// border-radius: 10px;
		font-size: 15px;
	}
}

.calender__text {
	font-size: 25px;
	font-family: NanumExtraBold;
	border-bottom: 2px solid black;
	width: 400px;
	text-align: center;
	margin: 50px auto;
	padding: 20px;
	box-shadow: 5px 5px 5px rgb(97, 92, 92);
	border-radius: 10px;
	background-color: rgb(208, 198, 185);
}
