@font-face {
	font-family: NanumExtraBold;
	src: url(./Assets/fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf)
		format("truetype");
}

@font-face {
	font-family: NanumBold;
	src: url(./Assets/fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf)
		format("truetype");
}

@font-face {
	font-family: Nanum;
	src: url(./Assets/fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf)
		format("truetype");
}

body {
	// margin-bottom: -90px;
	font-family: Nanum;
	margin: 0px;
	background-image: url(./Assets/images/patrick-langwallner-3pR7d-tIRx8-unsplash.jpg);
	background-position: center;
	background-size: cover;
}
