@import url(../../App.scss);

.editentries__delete-button {
	font-family: NanumExtraBold;
	font-size: 25px;
	display: block;
	color: black;
	width: 100px;
	background-color: rgb(208, 198, 185);
	box-shadow: 5px 5px 5px rgb(97, 92, 92);
	border: 2px solid rgb(47, 17, 17);
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	display: inline;
	margin: 20px 0px auto 600px;
}

.editentries__cancl-button {
	font-family: NanumExtraBold;
	font-size: 25px;
	display: block;

	color: black;
	width: 100px;
	background-color: rgb(208, 198, 185);
	box-shadow: 5px 5px 5px rgb(97, 92, 92);
	border: 2px solid rgb(47, 17, 17);
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	display: inline;
	margin: 20px 0px auto 100px;
}
