@import url(../../App.scss);
.likedquotes__b {
	height: 50px;
	width: 140px;
	font-family: NanumExtraBold;
	font-size: 30px;
	margin-left: 25px;
	margin-top: 20px;
	// margin-bottom: 20px;
	background-color: rgb(208, 198, 185);
}

.del__div {
	display: flex;
	margin-left: 530px;
}
