@import url(../../App.scss);

.navbar {
	display: flex;
	justify-content: flex-end;
	padding-top: 15px;
	padding-bottom: 30px;
	height: 25px;
	background-color: rgb(208, 198, 185);

	&__heading {
		text-decoration: none;
		color: rgb(47, 17, 17);
		font-family: NanumExtraBold;
		font-size: 30px;
		position: absolute;
		left: 50px;
	}

	&__sub-heading {
		text-decoration: none;
		color: rgb(129, 91, 91);
		font-family: NanumBold;
		font-size: 18px;
		position: relative;
		top: 10px;
		margin-left: 50px;
		transition: 0.2s all;
	}

	&__sub-heading:hover {
		color: rgb(92, 28, 28);
		font-size: 18px;
		font-family: NanumBold;
		padding-bottom: 2px;
		border-bottom: 2px solid rgb(92, 28, 28);
	}
	&__sub-heading.active {
		color: rgb(47, 17, 17);
		box-shadow: 5px 5px 5px rgb(97, 92, 92);
		border: 2px solid rgb(47, 17, 17);
		padding: 10px;
		border-radius: 10px;
	}

	&__flex-left {
		margin-left: 0px;
		margin-right: 50px;
	}
}
